<?xml version="1.0" encoding="utf-8"?>
<widget id="com.jq.fanclub.client7" android-versionCode="39" ios-CFBundleVersion="0" version="0.5.3" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Fanclub</name>
	<description>Fanclub · Events · Buddies</description>
	<author email="support@fan-club.online" href="https://alpenherz.fan-club.online">Fanclub Team</author>
	<content src="index.html" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<allow-navigation href="*" />
	<preference name="Fullscreen" value="false" />
	<preference name="BackupWebStorage" value="none" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="BackgroundColor" value="0xffffffff" />
	<preference name="Orientation" value="portrait" />
	<preference name="SplashScreen" value="none" />
	<preference name="SplashScreenDelay" value="0" />
	<preference name="GradlePluginGoogleServicesEnabled" value="true" />
	<preference name="GradlePluginGoogleServicesVersion" value="4.3.14" />
	<preference name="cordova.plugins.diagnostic.modules" value="LOCATION WIFI CAMERA NOTIFICATIONS MICROPHONE" />
	<preference name="WKWebViewOnly" value="true" />
	<preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
	<preference name="scheme" value="app" />
	<preference name="hostname" value="localhost" />
	<feature name="CDVWKWebViewEngine">
		<param name="ios-package" value="CDVWKWebViewEngine" />
	</feature>
	<universal-links>
		<ios-team-id value="G9H244G768" />
		<host scheme="https" name="alpenherz.fan-club.online" />
		<host scheme="alpenherz.fan-club" name="" event="fb" />
	</universal-links>
	<platform name="ios">
		<preference name="StatusBarStyle" value="default" />
		<preference name="deployment-target" value="12.0" />
		<preference name="AllowInlineMediaPlayback" value="true" />

		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />

		<icon height="20" src="images/ios/20.png" width="20" />
		<icon height="29" src="images/ios/29.png" width="29" />
		<icon height="40" src="images/ios/40.png" width="40" />
		<icon height="48" src="images/ios/48.png" width="48" />
		<icon height="50" src="images/ios/50.png" width="50" />
		<icon height="55" src="images/ios/55.png" width="55" />
		<icon height="57" src="images/ios/57.png" width="57" />
		<icon height="58" src="images/ios/58.png" width="58" />
		<icon height="60" src="images/ios/60.png" width="60" />
		<icon height="72" src="images/ios/72.png" width="72" />
		<icon height="76" src="images/ios/76.png" width="76" />
		<icon height="80" src="images/ios/80.png" width="80" />
		<icon height="87" src="images/ios/87.png" width="87" />
		<icon height="88" src="images/ios/88.png" width="88" />
		<icon height="100" src="images/ios/100.png" width="100" />
		<icon height="114" src="images/ios/114.png" width="114" />
		<icon height="120" src="images/ios/120.png" width="120" />
		<icon height="144" src="images/ios/144.png" width="144" />
		<icon height="152" src="images/ios/152.png" width="152" />
		<icon height="167" src="images/ios/167.png" width="167" />
		<icon height="172" src="images/ios/172.png" width="172" />
		<icon height="180" src="images/ios/180.png" width="180" />
		<icon height="196" src="images/ios/196.png" width="196" />
		<icon height="1024" src="images/ios/1024.png" width="1024" />

		<splash src="images/ios/Default@1x~universal~anyany.png" />
		<splash src="images/ios/Default@2x~universal~anyany.png" />
		<splash src="images/ios/Default@3x~universal~anyany.png" />

		<resource-file src="GoogleService-Info.plist" />

		<edit-config target="BGTaskSchedulerPermittedIdentifiers" file="*-Info.plist" mode="merge" overwrite="true">
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</edit-config>
		<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
			<string>Location access is used to show events, people, and locations in your vicinity.</string>
		</edit-config>
		<edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
			<string>Location access is used to show events, people, and locations in your vicinity.</string>
		</edit-config>
		<edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
			<string>Location access is used to show events, people, and locations in your vicinity.</string>
		</edit-config>
		<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
			<string>Photo library access allows you to select pictures for chats or your profile settings.</string>
		</edit-config>
		<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
			<string>Access to camera allows you to take new pictures for chats, your profile settings and make video calls to other people.</string>
		</edit-config>
		<edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
			<string>Access to microphone is used to make video calls to other people.</string>
		</edit-config>
		<edit-config target="NSBluetoothPeripheralUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
			<string>Bluetooth is used for Bluetooth Matching of Buddies in your immediate surrounding. You may turn it off in your settings.</string>
		</edit-config>
		<edit-config target="NSBluetoothAlwaysUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
			<string>Bluetooth is used for Bluetooth Matching of Buddies in your immediate surrounding. You may turn it off in your settings.</string>
		</edit-config>
		<edit-config target="CBAdvertisementDataServiceUUIDsKey" file="*-Info.plist" mode="merge" overwrite="true">
			<array>
				<string>e8a98f86-f973-442b-a099-b0b2d2c4f20e</string>
				<string>1e6153b0-9c7e-47e9-a14a-c917fad22e41</string>
			</array>
		</edit-config>
		<edit-config target="CBAdvertisementDataOverflowServiceUUIDsKey" file="*-Info.plist" mode="merge" overwrite="true">
			<array>
				<string>e8a98f86-f973-442b-a099-b0b2d2c4f20e</string>
				<string>1e6153b0-9c7e-47e9-a14a-c917fad22e41</string>
			</array>
		</edit-config>
	</platform>
	<platform name="android">
		<allow-intent href="market:*" />

		<preference name="AndroidLaunchMode" value="singleTop" />
		<preference name="android-minSdkVersion" value="33" />
		<preference name="android-targetSdkVersion" value="33" />
		<preference name="AndroidLaunchMode" value="singleInstance" />
		<preference name="loadUrlTimeoutValue" value="700000" />
		<preference name="AndroidXEnabled" value="true" />
		<preference name="AndroidPersistentFileLocation" value="Compatibility" />
		<preference name="GradlePluginKotlinVersion" value="1.6.20" />

		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<queries>
				<intent>
					<action android:name="android.support.customtabs.action.CustomTabsService" />
				</intent>
			</queries>
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<uses-library android:name="org.apache.http.legacy" android:required="false" />
		</config-file>

		<icon density="ldpi" foreground="images/android/36.png" background="images/android/36.png" />
		<icon density="mdpi" foreground="images/android/48.png" background="images/android/48.png" />
		<icon density="hdpi" foreground="images/android/72.png" background="images/android/72.png" />
		<icon density="xhdpi" foreground="images/android/96.png" background="images/android/96.png" />
		<icon density="xxhdpi" foreground="images/android/144.png" background="images/android/144.png" />
		<icon density="xxxhdpi" foreground="images/android/192.png" background="images/android/192.png" />

		<resource-file src="google-services.json" target="app/google-services.json" />
	</platform>
</widget>